/*

SPDX-FileCopyrightText: 2021 Riley Duffield <NylaWeothief@disroot.org>

SPDX-License-Identifier: GPL-3.0-or-later

*/


body {
  max-width: 1280px;
  max-height: 1771px;
  background: white;
  text-align: center;
  font-family: "Louis George Café";
}
main {
  padding: 10%;
}
#cover-main {
  padding: 33% 0;
}
h1 {
  color: black;
  font-family: "Chango";
  font-size: 45pt;
}
#cover-title {
  font-size: 140pt;
}
h2 {
font-family: "Chango";
  color: #333333;
  font-size: 35pt;
}
#chango {
  font-family: "Chango";
}

#gochi-hand {
  font-family: "Gochi Hand";
}
#louis-george-cafe {
  font-family: "Louis George Café";
}
#potta-one {
  font-family: "Potta One";
}
p {
  color: #333333;
  font-size: 20pt
}
a {
  color: #333333;
  font-size: 20pt;
}
